.sidebar {

    background-color: #A0937D;
    color: white;
    width: 310px;
    height: 100vh;
    padding-top: 0px;
    overflow-y: auto;

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    text-align: left;

}

.sidebar li {
    padding: 10px 20px;
    cursor: pointer;
    
    
}

.sidebar li:hover {
    background-color: #444;
}

.sidebar-heading{
    background-color: #E7D4B5;
  
}

.sidebar-section{
    display: flex;
    background-color: #B5CDA3;
    height: 91px;
}

.sidebar-icon-section{
    display: flex;
    padding-top: 65px;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    
}
.sidebar-icon{
    padding:0px 30px;
    cursor: pointer;
} 

.sidebar-filter-section{
    padding-top: 10px;

}
.sidebar-filter{
    border: 1px gray solid;
    border-radius: 50px;
    height: 25px;
    width: 220px;
    display: flex;
    position: absolute;
    left: 9px;
  

    /* padding-top: 50px; */
    /* top:2px; */
}

.filter-icon{
    position: absolute;
    left: 2px;
    top: 2px;
    cursor: pointer;
}


.cross-icon{
    position: absolute;
    right: 2px;
    top: 3px;
    cursor: pointer;
}

.sidebar-lists{
    /* display: flex; */
    padding-top: 0px;
 

  
}
.sideNavbarCreateNew{
    text-decoration: none;
    list-style: none;
    color: white;
}