.signin-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signinform-container {
    width: 22rem;
    max-width: 27rem;
    padding: 1rem;
    background-color: #ecdfcc;
    border-radius: 0.375rem; 
    display: flex;
    flex-direction: column;
    gap: 2.5rem; 
}

.signintitle {
    font-size: 1.5rem; 
    font-weight: bold;
}

.signinform {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.signininput {
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 0.375rem; 
    outline: none;
    transition: border-color 0.3s;
}

.signininput:hover {
    border-color: #7a1cac; 
}

.signinbutton {
    background-color: #7a1cac;
    color: white;
    padding: 0.5rem;
    border-radius: 0.375rem; 
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
}

.signinbutton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.signinloading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signinloader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #7a1cac;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.signinlink-container {
    margin-top: 1rem;
}

.signinlink-text {
    color: #7a1cac; 
}

.signinlink {
    color: #7a1cac;
    cursor: pointer;
    text-decoration: underline;
}
