.head-bar {
    background-color: #A0937D;
    display: flex;
    justify-content: center;
    height: 65px;
    align-items: center;
    padding: 0 0px;
    border-bottom: 3px solid lightgray;
    width: 110%;
}

.service-left {
    display: flex;
    position: absolute;
    left: 20px;
}

.left-words {
    margin-right: 15px;
    color: white;
    font-weight: bold;
}

.service-right {
    color: white;
    font-weight: bold;
    position: absolute;
    right: 20px;
}

.right-words {
    padding: 6px;
    cursor: pointer;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
    border: 2px solid darkgreen;
    border-radius: 5px;
}

.dropdown:hover .drop-btn {
    background-color: #555;
    color: white;
    cursor: pointer;
}
