.notes-container {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .tabs {
    display: flex;
    /* border: 1px solid grey; */
    background-color: lightgray;
    height: 50px;
    width: 100%;
  }
  
  .tab {
    flex-grow: 1;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-bottom: none;
  }
  
  .tab.active {
    background-color: white;
    border-bottom: 1px solid white;
    font-weight: bold;
  }
  
  .content {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .content-lists-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .watch-list,
  .work-list {
    font-weight: bold;
  }
  
  .work-notes-section {
    margin-bottom: 2 0px;
  }
  
  .work-notes-input {
    width: 100%;
    height: 100px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
  }
  
  .checkbox-group {
    margin-bottom: 20px;
  }
  
  .post-button {
    padding: 10px 15px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .post-button:hover {
    background-color: #45a049;
  }
  
  .activities {
    margin-top: 20px;
  }
  
  .activity {
    display: flex;
    margin-bottom: 20px;
  }
  
  .activity-author {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-right: 10px;
    /* position: absolute; */
    left: 0px;
    float: left;
    /* display: flex; */
  }
  
  .activity-content {
    background-color: #f9f9f9;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
  }
  
  .activity-comment {
    margin: 10;
    margin-top: 40px;
    /* left: 0px; */
    text-align: left;
  }
  
  .activity-details {
    margin: 0;
    color: #555;
    font-size: 12px;
    float: right;
  }
  
  .lock-icon{
    padding: 5px;
    border: 1px gray solid;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
  }

  
    .field-activity-content {
      background-color: #f9f9f9;
      padding: 0px;
      border-radius: 4px;
      border: 1px solid #ddd;
      width: 100%;
    }
  
    .field-activity-details{
    margin: 10;
    color: #555;
    font-size: 12px;
    text-align: left;
    /* margin-top: 10px; */
    
    }

    .field-activity-group{
      /* left: 30px; */
      /* display: flex; */
   position: relative;
   left: 20px;
   top: 10px;
   
}

.related-records-fields{
  /* display: flex; */
  /* flex-direction: column; */
  border: 1px solid black;
  /* width: 100%; */
  height: 230px;
  /* left: 0%; */
  top: 10%;
  position: absolute;


}


.related-record-individual{
  margin: 10px;
  /* text-align: left; */
  /* float: left; */
  

}

.related-record-left{
/* float: left; */
display: flex;
flex-direction: column;
float: left;
}

.related-record-right{
  /* margin: 10px; */
  /* text-align: right; */
  /* float: right; */
  display: flex;
  flex-direction: column;
  float: right;

}

.related-record-individual input{
  border: 1px gray solid;
  border-radius: 3px;
  height: 30px;
  width: 200px;
  margin-left: 6px;
  margin-right: 5px;
}

.related-record-buttons{
  position: absolute;
  top: 50%;
}

.related-button{
margin: 5px;
padding: 5px;
cursor: pointer;
}

.resolution-info{
  border: 1px solid gray;
  height: 250px;
  top: 10%;
  position: absolute;
  width: 60%;
}

.resolution-left{
  display: flex;
flex-direction: column;
float: left;
}

.resolution-right{
  display: flex;
flex-direction: column;
float: right;
}

.resolution-textarea{
  resize: none;
  width: 400%;
  height: 60px;
}

.resolution-close{
  position: absolute;
  top: 50%;
  
}

.label-close-notes{
 float: left;
 margin-left: 10px;
}

.resolution-area{
  float: right;
  margin-left: 10px;
}

.related-dropdown{
  border: 1px gray solid;
  border-radius: 3px;
  height: 30px;
  width: 200px;
  margin-left: 6px;
  margin-right: 5px;
}